<section id="main-content">
    <section class="wrapper">
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <table class="table table-striped table-condensed table-hover">
                        <h4><i class="fa fa-angle-right"></i> <a href="buildlist.html"> 构建列表</a><i class="fa fa-angle-right"></i> 构建</h4>
                        <hr>
                        <thead>
                            <tr>
                                <th> 代码仓库名称</th>
                                <th> 代码仓库地址</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="repoid" hidden="true">{{.repos.Id}}</td>
                                <td class="hidden-phone">{{.repos.RepoName}}</td>
                                <td class="hidden-phone giturl">{{.repos.Url}}</td>
                                <td>
                                    <button class="btn btn-success btn-xs build">构建</button>
                                    <a class="btn btn-primary btn-xs" href="buildconfig.html?id={{.repos.Id}}">配置</a>
                                    <button class="btn btn-danger btn-xs deleterepo">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
            <div class="col-md-12 mt">
                <div id="alert" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> 请先点击配置按钮，输入构建命令。
                </div>
            </div>
            <div class="col-md-2">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> 历史日志</h4>
                    <!-- <hr> -->
                    <ul>
                        {{range $index, $val := .logfilelist}}
                        <li>
                            <a href="build.html?id={{$.id}}&logfilename={{$val}}">{{$val}}</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div>
            <!-- /col-md-12 -->
            <div id="resp" class="col-md-10" style="display: none;">
                <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Pipeline</h4>
                    <hr>
                    <div id="bar" class="progress" style="display: none;">
                        <div id="progressbar" class="progress-bar progress-bar-success progress-bar-striped " role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 5%;"> 5%
                        </div>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" id="one" style="display: none;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"               aria-controls="collapseOne" id="collapseheadone" style="color: green">
                        克隆代码
                      </a>
                    </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body" id="cloneresp" style="height: 100%; background: #333; color: #aaa;">
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="two" style="display: none;">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="              false" aria-controls="collapseTwo" id="collapseheadtwo" style="color: green">
                        构建
                      </a>
                    </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body" id="buildresp" style="height: 100%; background: #333; color: #aaa;">
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default" id="three" style="display: none;">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded              ="false" aria-controls="collapseThree" id="collapseheadthree" style="color: green" >
                        上传镜像库
                      </a>
                    </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body" id="pushresp" style="height: 100%; background: #333; color: #aaa;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
        </div>
    </section>
</section>
<script src="static/js/jquery-1.8.3.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="static/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="static/js/jquery.scrollTo.min.js"></script>
<script src="static/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="static/js/common-scripts.js"></script>
<script type="text/javascript" src="static/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="static/js/gritter-conf.js"></script>
<script>
document.getElementById("buildlist").setAttribute("class", "active")

$(function() {
    var loglenght = {{(.log | len)}}
    var log = {{.log}}
    if (loglenght > 0) {
        CloseDiv()
        var resp = document.getElementById("resp")
        resp.style.display = 'block'

        if (log.clone) {
            var clone = log.clone.replace(/\n/g, "<br/>");
        }
        if (log.build) {
            var build = log.build.replace(/\n/g, "<br/>");
        }
        if (log.push) {
            var push = log.push.replace(/\n/g, "<br/>");
        }

        var div1 = document.getElementById("one");
        $("#cloneresp").html(clone)
        div1.style.display = 'block'

        var div2 = document.getElementById("two");
        $("#buildresp").html(build)
        div2.style.display = 'block'

        var div3 = document.getElementById("three");
        $("#pushresp").html(push)
        div3.style.display = 'block'
    }
})

$(function () {
    var warning = {{.warning}}
    if (warning) {
        document.getElementById("alert").style.display="block"
    }
})

function CloseDiv() {
    var resp = document.getElementById("resp")
    resp.style.display = 'none'
    var div1 = document.getElementById("one");
    $("#cloneresp").html("")
    div1.style.display = 'none'
    var div2 = document.getElementById("two");
    $("#buildresp").html("")
    div2.style.display = 'none'
    var div3 = document.getElementById("three");
    $("#pushresp").html("")
    div3.style.display = 'none'
}

$('.deleterepo').click(function() {
    var repoid = $(this).parent("td").siblings(".repoid").text()
    $.ajax({
        url: 'api/repo/delete',
        type: 'post',
        dataType: 'json',
        data: {
            'repoid': repoid,
        },
        success: function(data) {
            if (data['status'] == '200') {
                location.replace('/buildlist.html');
            } else if (data['status'] == '300') {
                alert("failed")
            }
        },
        error: function() {
            alert('failed!');
        }
    });
})

$('.build').click(function() {
    CloseDiv()
    document.getElementById("resp").style.display = 'block'
    document.getElementById("bar").style.display = "block"

    var giturl = $(this).parent("td").siblings(".giturl").text()
    $.ajax({
        url: 'api/pipelinetoclone',
        type: 'post',
        dataType: 'json',
        data: {
            'giturl': giturl,
        },
        success: function(data) {
            if (data['status'] == '200') {
                var msg = data['msg']
                msg = msg.replace(/\n/g, "<br/>");
                var div1 = document.getElementById("one");
                $("#cloneresp").html(msg)
                div1.style.display = 'block'
                pipelinetobuild(giturl, data['logfile'])

                document.getElementById("progressbar").style.width = "30%"
                document.getElementById("progressbar").innerText = "30%"
            } else if (data['status'] == '300') {
                var msg = data['err']
                msg = msg.replace(/\n/g, "<br/>");
                var div1 = document.getElementById("one");
                $("#cloneresp").html(msg)
                div1.style.display = 'block'
                document.getElementById("collapseheadone").style.color = 'red';
            }
        },
        error: function() {
            alert('failed!');
        }
    });
})

function pipelinetobuild(giturl, logfile) {
    $.ajax({
        url: 'api/pipelinetobuild',
        type: 'post',
        dataType: 'json',
        data: {
            'giturl': giturl,
            'logfile': logfile,
            'id': {{.repos.Id}},
        },
        success: function(data) {
            if (data['status'] == '200') {
                var msg = data['msg']
                msg = msg.replace(/\n/g, "<br/>");
                var div2 = document.getElementById("two");
                $("#buildresp").html(msg)
                div2.style.display = 'block'
                pipelinetopush(giturl, data['logfile'])

                document.getElementById("progressbar").style.width = "70%"
                document.getElementById("progressbar").innerText = "70%"
            } else if (data['status'] == '300') {
                var msg = data['err']
                msg = msg.replace(/\n/g, "<br/>");
                var div2 = document.getElementById("two");
                $("#buildresp").html(msg)
                div2.style.display = 'block'
                document.getElementById("collapseheadtwo").style.color = 'red';
            }
        },
        error: function() {
            alert('failed!');
        }
    });
}

function pipelinetopush(giturl, logfile) {
    $.ajax({
        url: 'api/pipelinetopush',
        type: 'post',
        dataType: 'json',
        data: {
            'giturl': giturl,
            'logfile': logfile,
        },
        success: function(data) {
            if (data['status'] == '200') {
                var msg = data['msg']
                msg = msg.replace(/\n/g, "<br/>");
                var div3 = document.getElementById("three");
                $("#pushresp").html(msg)
                div3.style.display = 'block'

                document.getElementById("progressbar").style.width = "100%"
                document.getElementById("progressbar").innerText = "100%"
            } else if (data['status'] == '300') {
                var msg = data['err']
                msg = msg.replace(/\n/g, "<br/>");
                var div3 = document.getElementById("three");
                $("#pushresp").html(msg)
                div3.style.display = 'block'
                document.getElementById("collapseheadthree").style.color = 'red';
            }
        },
        error: function() {
            alert('failed!');
        }
    });
}
</script>