<section id="main-content">
    <section class="wrapper">
        <div class="row mt mb">
            <div class="col-md-12">
                <section class="task-panel tasks-widget">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h5><i class="fa fa-tasks"></i> 构建列表</h5></div>
                        <br>
                    </div>
                    <div class="panel-body">
                        <div class="task-content">
                            <ul id="sortable" class="task-list">
                                {{range $key, $val := .repos}}
                                <li class="list-primary">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="list-child" value="" />
                                    </div>
                                    <div class="task-title">
                                        <span class="repoid" hidden="true">{{$val.Id}}</span>
                                        <span class="task-title-sp">{{$val.RepoName}}</span>
                                        <span class="badge bg-warning">{{$val.Url}}</span>
                                        <div class="pull-right hidden-phone">
                                            <a class="btn btn-success btn-xs" href="build.html?id={{$val.Id}}">构建</a>
                                            <a class="btn btn-primary btn-xs" href="commits.html?id={{$val.Id}}">Commits</a>
                                            <button class="btn btn-danger btn-xs deleterepo">删除</button>
                                        </div>
                                    </div>
                                </li>
                                {{end}}
                                <!--                                 <li class="list-primary">
                                </li>
                                <li class="list-danger"> 
                                </li>
                                <li class="list-success">  
                                </li>
                                <li class="list-warning">
                                </li>
                                <li class="list-info"> 
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <!--/col-md-12 -->
        </div>
        <!-- /row -->
    </section>
</section>
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="static/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="static/js/jquery.scrollTo.min.js"></script>
<script src="static/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="static/js/common-scripts.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="static/js/tasks.js" type="text/javascript"></script>
<script>
document.getElementById("buildlist").setAttribute("class", "active")

$('.deleterepo').click(function() {
    var repoid = $(this).parent("div").siblings(".repoid").text()
    $.ajax({
        url: 'api/repo/delete',
        type: 'post',
        dataType: 'json',
        data: {
            'repoid': repoid,
        },
        success: function(data) {
            if (data['status'] == '200') {
                location.replace('/buildlist.html');
            } else if (data['status'] == '300') {
                alert("failed")
            }
        },
        error: function() {
            alert('failed!');
        }
    });
})

$(function() {
    $("table > tbody > tr").click(function() {
        location.href = $(this).find("a").attr("href");
    });
})
</script>
<script>
jQuery(document).ready(function() {
    TaskList.initTaskWidget();
});

$(function() {
    $("#sortable").sortable();
    $("#sortable").disableSelection();
});
</script>
<script>
$(function() {
    $('select.styled').customSelect();
});
</script>