<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Build Logs</h3>
        <div class="row mt">
            <div class="col-lg-12">
                {{str2html .buildresp}}
            </div>
        </div>
    </section>
</section>
<!-- <script src="static/js/jquery.js"></script> -->
<script src="static/js/jquery-1.8.3.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="static/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="static/js/jquery.scrollTo.min.js"></script>
<script src="static/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="static/js/common-scripts.js"></script>
<script type="text/javascript" src="static/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="static/js/gritter-conf.js"></script>
<script>
document.getElementById("jenkins").setAttribute("class", "active")
</script>