<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href=""><img src="static/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
            <h5 class="centered">{{.User}}</h5>
            <li class="mt">
                <a href="dashboard.html" id="dashboard">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
            </li>
            <li class="sub-menu">
                <a href="/bitbucket.html" id="bitbucket">
                          <i class="fa fa-cogs"></i>
                          <span>代码仓库</span>
                      </a>
            </li>
            <li class="sub-menu">
                {{if .IsAdmin}}
                <a href="buildforadmin.html" id="buildforadmin">
                          <i class="fa fa-book"></i>
                          <span>代码构建</span>
                      </a> {{else}}
                <a href="buildlist.html" id="buildlist">
                          <i class="fa fa-book"></i>
                          <span>代码构建</span>
                      </a> {{end}}
            </li>
            <li class="sub-menu">
                {{if .IsAdmin}}
                <a href="/images.html" id="image">
                          <i class="fa fa-tasks"></i>
                          <span>镜像仓库</span>
                      </a> {{else}}
                <a href="/repos.html" id="image">
                          <i class="fa fa-tasks"></i>
                          <span>镜像仓库</span>
                      </a> {{end}}
            </li>
            <li class="sub-menu">
                <a href="javascript:;" id="kubernetes">
                          <i class="fa fa-desktop"></i>
                          <span>Kubernetes</span>
                      </a>
                <ul class="sub" id="kubernetes-sub">
                    {{if .IsAdmin}}
                    <li id="namespaces"><a href="namespaces.html">Namespaces</a></li>
                    {{end}}
                    <li id="deployment"><a href="deployment.html">Deployment</a></li>
                    <li id="service"><a href="service.html">Services</a></li>
                    <li id="ingress"><a href="ingress.html">ingress</a></li>
                    <li id="pod"><a href="pods.html">pods</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>